.wf-button {
  --button-text: var(--base-white);
  --button-text-light: var(--base-white);
  --button-fill: var(--primary);
  --button-fill-light: var(--primary-light);
  --button-radius: 4px;

  @apply rounded-[var(--button-radius)] py-1.5 px-3.5 text-[var(--button-text)] bg-[var(--button-fill)] text-xs
  inline-flex items-center gap-1 justify-center min-h-[20px] min-w-[20px] align-middle;

  &:hover {
    @apply bg-[var(--button-fill-light)] text-[var(--button-text-light)];
  }

  > a {
    @apply text-[var(--button-text)];

    &:hover {
      @apply text-[var(--button-text-light)];
    }
  }

  > .wf-icon {
    @apply min-w-4 min-h-4;
  }

  &.is-round {
    --button-radius: 99999px;
  }

  &.is-circle {
    --button-radius: 99999px;
    @apply p-2 size-[28px];
  }

  &.is-square {
    @apply p-2 size-[28px];
  }

  &.is-disabled {
    @apply cursor-not-allowed opacity-80;
  }

  &--default {
    --button-text: var(--base-black);
    --button-text-light: var(--primary);
    --button-fill: var(--base-fill);
    --button-fill-light: var(--darker-fill);
    /* @apply border border-[var(--base-border)] border-solid; */
  }

  &--primary {
    --button-fill: var(--primary);
    --button-fill-light: var(--primary-light);
  }

  &--danger {
    --button-fill: var(--danger);
    --button-fill-light: var(--danger-light);
  }

  &--success {
    --button-fill: var(--success);
    --button-fill-light: var(--success-light);
  }

  &--warning {
    --button-fill: var(--warning);
    --button-fill-light: var(--warning-light);
  }

  &--info {
    --button-fill: var(--info);
    --button-fill-light: var(--info-light);
  }

  &--text {
    --button-text: var(--primary);
    --button-text-light: var(--primary-light);
    --button-fill: var(--transparent);
    --button-fill-light: var(--transparent);
  }

  &--link {
    --button-text: var(--primary);
    --button-text-light: var(--primary-light);
    --button-fill: var(--transparent);
    --button-fill-light: var(--transparent);
  }

  &--dashed {
    --button-text: var(--primary);
    --button-text-light: var(--primary-light);
    --button-fill: var(--transparent);
    --button-fill-light: var(--transparent);
    @apply border-dashed border;
  }
}
