.wf-switch {
  --checked-color: var(--primary);
  --unchecked-color: var(--info-light-5);
  --dot-color: var(--base-white);
  @apply p-[2px] relative inline-flex items-center w-10 h-5 
  bg-[var(--unchecked-color)] duration-300 rounded-full;

  &__dot {
    @apply absolute inline-block w-4 h-4 rounded-full
     bg-[var(--dot-color)] animate-[.4s_forwards_ease-in];
  }

  &.is-checked {
    @apply bg-[var(--checked-color)];
  }

  &.is-checked > &__dot {
    @apply bg-[var(--dot-color)];
  }

  &.is-disabled {
    @apply cursor-not-allowed opacity-80;
  }
}

@keyframes open {
  0% {
    @apply w-4;
  }
  50% {
    @apply w-8;
  }
  100% {
    @apply w-4 right-[2px];
  }
}

@keyframes close {
  0% {
    @apply w-4 right-[2px];
  }
  50% {
    @apply w-8;
  }
  100% {
    @apply w-4;
  }
}
